html {
    margin-top: 100px;
}

#form-main {
    text-align: center;

}


.form-sub {
    height: 400px;
    background-color: white;
    margin-bottom: 50px;
}

#form {
    width: 400px;
    margin: 0 auto;
}

.button-al {
    padding-top: 150px;
}

.input-al{
}

input {
    margin-top: 30px;
}